<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.FileMapper">
	<select id="selectFilesByNoticeCd" parameterType="int"
		resultType="com.eco.domain.DTO.FileUploadDTO">
		<![CDATA[ 
		SELECT * FROM T_FILE
		WHERE notice_cd = #{noticeCd}
			AND use_yn = 'Y'
		ORDER BY file_cd ASC 
		]]>
	</select>
	
	<select id="selectFileByFileCd" parameterType="int"
		resultType="com.eco.domain.DTO.FileUploadDTO">
		<![CDATA[ 
		SELECT * FROM T_FILE
		WHERE file_cd = #{fileCd}
			AND use_yn = 'Y' 
		]]>
	</select>
	
	<insert id="insertFile"
		parameterType="com.eco.domain.DTO.FileUploadDTO">
		<![CDATA[ 
		INSERT INTO T_FILE (notice_cd, original_name, stored_name, file_path, file_size) 
		VALUES (#{notice_cd}, #{original_name}, #{stored_name}, #{file_path}, #{file_size})
		]]>
	</insert>

 	<update id="updateFileUseYn" parameterType="map">
        <![CDATA[ 
        UPDATE T_FILE
        SET
            use_yn = #{useYn},
            update_dt = NOW()
        WHERE
            file_cd = #{fileCd}
            ]]>
    </update>

    <update id="updateFilesUseYnByNoticeCd" parameterType="map">
        <![CDATA[
        UPDATE T_FILE
        SET
            use_yn = #{useYn},
            update_dt = NOW()
        WHERE
            notice_cd = #{noticeCd}
        ]]>
    </update>
</mapper>