<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eco.mapper.NoticeMapper">

	<!-- 공지사항 목록 조회 -->
	<select id="selectNoticeList" resultType="com.eco.domain.DTO.NoticeDTO">
		<![CDATA[
		SELECT * FROM T_NOTICE n JOIN t_staff s ON n.staff_cd = s.staff_cd
		WHERE n.use_yn = 'Y'
		ORDER BY n.create_dt DESC, n.notice_cd DESC
		]]>
	</select>
	<!-- 공지사항 검색어 조회 -->
	<select id="selectNoticeSearchList" resultType="com.eco.domain.DTO.NoticeDTO">
		<![CDATA[
		SELECT * FROM T_NOTICE n JOIN t_staff s ON n.staff_cd = s.staff_cd
		WHERE n.use_yn = 'Y' AND (n.title LIKE CONCAT('%', #{search_word}, '%') OR n.content LIKE CONCAT('%', #{search_word}, '%'))
		ORDER BY n.create_dt DESC, n.notice_cd DESC
		]]>
	</select>

	<!-- 공지사항 상세 조회 (PK로 단건 조회) -->
	<select id="selectDetailNotice" parameterType="int" resultType="com.eco.domain.DTO.NoticeDTO">
		SELECT * FROM T_NOTICE n JOIN t_staff s ON n.staff_cd = s.staff_cd
		WHERE n.use_yn = 'Y' AND n.notice_cd = #{notice_cd} 
	</select>

	<!-- 공지사항 등록 -->
	<insert id="insertNotice" parameterType="com.eco.domain.DTO.NoticeDTO">
		INSERT INTO T_NOTICE (title, content, staff_cd)
		VALUES (#{title}, #{content}, #{staff_cd})
	</insert>
		
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="com.eco.domain.DTO.NoticeDTO">
		UPDATE T_NOTICE SET title = #{title}, content = #{content}, update_dt = #{update_dt}
		WHERE notice_cd = #{notice_cd} AND use_yn = 'Y'
	</update>
		
	<!-- 공지사항 삭제(소프트 삭제 방식) -->
	<update id="deleteNotice" parameterType="int">
		UPDATE T_NOTICE SET use_yn = 'N'
		WHERE notice_cd = #{notice_cd}
	</update>
</mapper>