<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.ReportMapper">
	<!-- SELECT -->
	<!-- 신고 리스트 전체 조회 -->
	<select id="selectAllReport" resultType="com.eco.domain.DTO.ReportDTO">
		<![CDATA[
		SELECT * FROM t_report r JOIN t_staff s ON r.staff_cd = s.staff_cd
		WHERE r.use_yn = 'Y' ORDER BY report_dt DESC, report_cd DESC 
		LIMIT #{size} OFFSET #{offset}
		]]>
	</select>
	
	<select id="selectLocalReport" parameterType="string" resultType="com.eco.domain.DTO.ReportDTO">
		<![CDATA[
		SELECT * FROM t_report r 
		JOIN t_staff s ON r.staff_cd = s.staff_cd
		WHERE r.use_yn = 'Y' AND r.local = #{local} 
		ORDER BY report_dt DESC, report_cd DESC 
		LIMIT 10
		]]>
	</select>
	
	<select id="selectLocalReportWidthPaging" resultType="com.eco.domain.DTO.ReportDTO">
		<![CDATA[
		SELECT * FROM t_report r 
		JOIN t_staff s ON r.staff_cd = s.staff_cd
		WHERE r.use_yn = 'Y' AND r.local = #{local} 
		ORDER BY report_dt DESC, report_cd DESC 
		LIMIT #{size} OFFSET #{offset}
		]]>
	</select>
	
	<!-- 신고글 갯수 카운팅 -->
	<select id="selectReportCount" resultType="int">
		<![CDATA[
		  SELECT COUNT(*)
		  FROM t_report
		  WHERE use_yn = 'Y' 
		]]>
		<if test="local != null and local != '' and local != '전국'">
		<![CDATA[
			AND local = #{local}
		]]>
		</if>
	</select>
	
	<!-- 신고 게시글 상세 조회 -->
	<select id="selectDetailReport" resultType="com.eco.domain.DTO.ReportDTO">
		<![CDATA[
		SELECT * FROM t_report r JOIN t_staff s ON r.staff_cd = s.staff_cd
		WHERE r.use_yn = 'Y' AND r.report_cd = #{report_cd}
		]]>
	</select>
	
	<select id="selectTop5LocalReportStats" resultType="com.eco.domain.DTO.ReportStatsDTO">
	    <![CDATA[
	    SELECT local, COUNT(*) AS count
	    FROM t_report
	    WHERE use_yn = 'Y'
	    GROUP BY local
	    ORDER BY count DESC
	    LIMIT 5
	    ]]>
	</select>

	<!-- INSERT -->
	<!-- 신고 글 등록 -->
	<insert id="insertReport" parameterType="com.eco.domain.DTO.ReportDTO" useGeneratedKeys="true" keyProperty="report_cd">
		<![CDATA[
		INSERT INTO t_report(staff_cd, title, type, content, local, phone)
		VALUES(#{staff_cd}, #{title},#{type}, #{content}, #{local}, #{phone})
		]]>
	</insert>
	
	<!-- UPDATE -->
	<!-- 신고 글 수정 -->
	<update id="updateReport" parameterType="com.eco.domain.DTO.ReportDTO">
        <![CDATA[
		    UPDATE t_report SET title=#{title}, phone=#{phone}, local=#{local}, 
		    type=#{type}, content=#{content}, update_dt=#{update_dt}
		    WHERE report_cd=#{report_cd} AND use_yn = 'Y'
	    ]]>
	</update>
	
	<!-- 신고 글 삭제 -->
	<update id="deleteReport" parameterType="int">
        <![CDATA[
		    UPDATE t_report SET use_yn = 'N'
		    WHERE report_cd=#{report_cd}
	    ]]>
	</update>

</mapper>