<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.ReportMapper">
	<!-- SELECT -->
	<!-- 신고 리스트 전체 조회 -->
	<select id="selectAllReport" resultType="com.eco.domain.DTO.ReportDTO">
		<![CDATA[
		SELECT * FROM t_report r JOIN t_staff s ON r.staff_cd = s.staff_cd
		WHERE r.use_yn = 'Y' ORDER BY report_dt DESC LIMIT 10
		]]>
	</select>
	
	<!-- 신고 게시글 상세 조회 -->
	<select id="selectDetailReport" resultType="com.eco.domain.DTO.ReportDTO">
		<![CDATA[
		SELECT * FROM t_report r JOIN t_staff s ON r.staff_cd = s.staff_cd
		WHERE r.use_yn = 'Y' AND r.report_cd = #{report_cd}
		]]>
	</select>
	
	<!-- INSERT -->
	<!-- 신고 글 등록 -->
	<insert id="insertReport" parameterType="com.eco.domain.DTO.ReportDTO" useGeneratedKeys="true" keyProperty="report_cd">
		<![CDATA[
		INSERT INTO t_report(staff_cd, title, type, content, local, phone)
		VALUES(#{staff_cd}, #{title},#{type}, #{content}, #{local}, #{phone})
		]]>
	</insert>

</mapper>