<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.StaffMapper">
	<!-- SELECT -->
	<!-- 직원 로그인 -->
	<select id="selectStaffByIdAndPw" resultType="com.eco.domain.StaffVO">
		<![CDATA[
		SELECT * FROM t_staff
		WHERE use_yn = 'Y' AND staff_id = #{staff_id} AND staff_pw = #{staff_pw}
		]]>
	</select>
	
	<!-- 아이디 중복 조회 -->
	<select id="selectStaffById" resultType="com.eco.domain.StaffVO">
		<![CDATA[
		SELECT * FROM t_staff
		WHERE use_yn = 'Y' AND staff_id = #{staff_id}
		]]>
	</select>
	<!-- INSERT -->
	<!-- 직원 회원 가입 -->
	<insert id="insertStaff" parameterType="com.eco.domain.StaffVO">
		<![CDATA[
		    INSERT INTO t_staff(staff_id, staff_pw, staff_nm, staff_addr, staff_role)
		    VALUES(#{staff_id}, #{staff_pw}, #{staff_nm}, #{staff_addr}, #{staff_role})
	    ]]>
	</insert>
	<!-- UPDATE -->
	<!-- 직원 정보 수정 -->
	<update id="updateStaff" parameterType="com.eco.domain.StaffVO">
		<![CDATA[
		    UPDATE t_staff SET staff_pw = #{staff_pw}, staff_nm = #{staff_nm}
		    WHERE staff_id = #{staff_id}
	    ]]>
	</update>
</mapper>