<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.StaffMapper">
	<!-- SELECT -->
	<!-- 직원 로그인 -->
	<select id="selectStaffByIdAndPw" resultType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		SELECT * FROM t_staff
		WHERE use_yn = 'Y' AND staff_id = #{staff_id} AND staff_pw = #{staff_pw}
		]]>
	</select>
	<!-- 아이디 중복 조회 -->
	<select id="selectStaffById" resultType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		SELECT * FROM t_staff
		WHERE staff_id = #{staff_id}
		]]>
	</select>
	<!-- 직원 권한 변경 혹은 지역 배정을 위한 검색, 조회 -->
	<select id="selectStaffByIdAndUseyn" resultType="com.eco.domain.vo.StaffVO" parameterType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		SELECT * FROM t_staff
		WHERE use_yn = 'Y' AND staff_id LIKE CONCAT('%', #{staff_id}, '%')
		]]>
	</select>
	<!-- 직원 계정 복구를 위한 검색, 조회 -->
	<select id="selectStaffForRecover" resultType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		SELECT * FROM t_staff
		WHERE use_yn = 'N' AND staff_id LIKE CONCAT('%', #{staff_id}, '%')
		]]>
	</select>
	  <!-- 활성 직원 계정 조회 (페이징 적용) -->
    <select id="selectStaffByIdAndUseynPaged" resultType="com.eco.domain.vo.StaffVO">
        <![CDATA[
        SELECT * FROM t_staff
        WHERE use_yn = 'Y' AND staff_id LIKE CONCAT('%', #{staffId}, '%')
        LIMIT #{limit} OFFSET #{offset}
        ]]>
    </select>
    <!-- 활성 직원 계정 총 개수 조회 -->
    <select id="countStaffByIdAndUseyn" resultType="long">
        <![CDATA[
        SELECT COUNT(*) FROM t_staff
        WHERE use_yn = 'Y' AND staff_id LIKE CONCAT('%', #{staffId}, '%')
        ]]>
    </select>

    <!-- 비활성화 직원 계정 조회 (페이징 적용) -->
    <select id="selectStaffForRecoverPaged" resultType="com.eco.domain.vo.StaffVO">
        <![CDATA[
        SELECT * FROM t_staff
        WHERE use_yn = 'N' AND staff_id LIKE CONCAT('%', #{staffId}, '%')
        LIMIT #{limit} OFFSET #{offset}
        ]]>
    </select>
    <!-- 비활성화 직원 계정 총 개수 조회 -->
    <select id="countStaffForRecover" resultType="long">
        <![CDATA[
        SELECT COUNT(*) FROM t_staff
        WHERE use_yn = 'N' AND staff_id LIKE CONCAT('%', #{staffId}, '%')
        ]]>
    </select>
    

	<!-- INSERT -->
	<!-- 직원 회원 가입 -->
	<insert id="insertStaff" parameterType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		    INSERT INTO t_staff(staff_id, staff_pw, staff_nm, staff_addr, staff_role)
		    VALUES(#{staff_id}, #{staff_pw}, #{staff_nm}, #{staff_addr}, #{staff_role})
	    ]]>
	</insert>
	
	<!-- UPDATE-->
	<!-- 직원 정보 수정 -->
	<update id="updateStaff" parameterType="com.eco.domain.vo.StaffVO">
	    <![CDATA[ UPDATE t_staff  ]]>
	    <set>
			<if test="staff_pw != null and staff_pw != ''">
	    		<![CDATA[ staff_pw = #{staff_pw}, ]]>   
	   		</if>
	       <![CDATA[ staff_nm = #{staff_nm} ]]> 
	   	</set>
	   	<![CDATA[ WHERE staff_id = #{staff_id} ]]>
	</update>
	<!-- 직원 회원 탈퇴 -->
	<update id="deleteStaff" parameterType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		    UPDATE t_staff SET use_yn='N'
		    WHERE staff_id = #{staff_id}
	    ]]>
	</update>
	<!-- 직원 배정 지역 변경 -->
	<update id="updateRegionStaff" parameterType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		    UPDATE t_staff SET staff_addr = #{staff_addr}
		    WHERE staff_id = #{staff_id}
	    ]]>
	</update>
	<!-- 직원 계정 복구 -->
	<update id="updateRecoverStaff" parameterType="com.eco.domain.vo.StaffVO">
		<![CDATA[
		    UPDATE t_staff SET use_yn='Y'
		    WHERE staff_id = #{staff_id}
	    ]]>
	</update>
</mapper>