<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.mapper.UserMapper">
	<!-- SELECT -->
	<!-- 사용자 일반 로그인 -->
	<select id="selectUserByIdAndPw" resultType="com.eco.domain.vo.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE use_yn = 'Y' AND user_id = #{user_id} AND user_pw = #{user_pw} AND user_social = 'Basic'
		]]>
	</select>
	
	<!-- 아이디 중복 조회 -->
	<select id="selectUserById" resultType="com.eco.domain.vo.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE user_id = #{user_id}
		]]>
	</select>
	<!-- 일반 사용자 계정 복구를 위한 검색, 조회 -->
	<select id="selectUserForRecover" resultType="com.eco.domain.vo.UserVO">
		<![CDATA[
		SELECT * FROM t_user
		WHERE use_yn = 'N' AND user_id LIKE CONCAT('%', #{user_id}, '%')
		]]>
	</select>
	<!-- INSERT -->
	<!-- 사용자 회원가입 -->
	<insert id="insertUser" parameterType="com.eco.domain.vo.UserVO">
		<![CDATA[
		    INSERT INTO t_user(user_id, user_pw, user_nm, user_addr, user_mail)
		    VALUES(#{user_id}, #{user_pw}, #{user_nm}, #{user_addr}, #{user_mail})
	    ]]>
	</insert>
	
	<!-- UPDATE -->
	<!-- 사용자 정보 수정 -->
	<update id="updateUser" parameterType="com.eco.domain.vo.UserVO">
		<![CDATA[ UPDATE t_user ]]>
		    <set>
		        <if test="user_pw != null and user_pw != ''">
		            <![CDATA[ user_pw = #{user_pw}, ]]>
		        </if>
		        <![CDATA[
			        user_nm = #{user_nm},
			        user_addr = #{user_addr},
			        user_mail = #{user_mail}
		        ]]>
		    </set>
    		<![CDATA[ WHERE user_id = #{user_id} ]]>
	</update>
	<!-- 사용자 회원 탈퇴 -->
	<update id="deleteUser" parameterType="com.eco.domain.vo.UserVO">
		<![CDATA[
		    UPDATE t_user SET use_yn='N'
		    WHERE user_id = #{user_id}
	    ]]>
	</update>
	<!-- 사용자 계정 복구 -->
	<update id="updateRecoverUser" parameterType="com.eco.domain.vo.UserVO">
		<![CDATA[
		    UPDATE t_user SET use_yn='Y'
		    WHERE user_id = #{user_id}
	    ]]>
	</update>
</mapper>